@import "./../style/style-variables";

html {
  font-size: $root-font; //override bootstrap font-size
}

body {
  background-color: $anti-flash-white;
  font-family: Helvetica;

  .header {
    padding: $med-space 0;
    text-align: center;
  }

  .card-list-container {
    padding: 0;

    .sub-heading-text {
      text-align: center;
    }

    ul {
      padding: 0;
    }

    li {
      list-style: none
    }
  }
}
