html {
  font-size: 16px; //override bootstrap font-size
}

body {
  font-family: Helvetica;
  background-color: #f0f2f5;

  .header {
    text-align: center;
    padding: 16px 0;
  }

  .card-list-container {
    // border: 1px solid grey;
    padding: 0;

    .sub-heading-text {
      text-align: center;
    }

    ul {
      padding: 0;
    }

    li {
      list-style: none
    }

  }



}
