@import "./../style/style-variables.scss";

html {
  font-size: $root-font;
}

.container {
  background-color: $anti-flash-white;
  font-family: Helvetica;
}

.header {
  padding: $med-space 0;
  text-align: center;
}

.panelsWrapper {
  display: flex;
  justify-content: space-evenly;
}
