.card-container {
  // border: 1px solid grey;
  padding: 30px 50px;

  .card-header {
    padding: 10px;
  }

  .card-image {
    img {
      max-width: 100%;
    }
  }

  .card-footer {
    padding: 15px 15px 23px 15px;
    font-size: 1.25rem;
    font-weight: 600;
    border: 1px solid lightgrey;
    margin: 0;

    .card-price-holder {
      display: inline-block;
    }

    .card-button-holder {
      float: right;


      .button-add-remove {
        background-color: darkseagreen;
        border-radius: 12px;
        border: 1px solid grey;
        padding: 5px 15px;
        text-align: center;
        font-size: 1rem;
      }
    }
  }
}

.button-add-remove {
  display: none;
  outline: none;
  box-shadow: 0 5px #999;
}

.button-add-remove:active {
  background-color: #3e8e41;
  box-shadow: 0 3px #666;
  transform: translateY(3px);
}

.card-container:hover .button-add-remove {
  display: inline-block;
}
