@import "./style-variables.scss";

.container {
  padding: $large-space $xxlarge-space;
  &:hover .buttonAddRemove {
    display: inline-block;
  }
}

.header {
  padding: $small-space;
}

.image {
  max-width: 100%;
}

.footer {
  padding: $med-space;
  border: 1px solid $light-silver;
  font-size: $large-font;
  font-weight: $bold-font-weight;
  display: flex;
  justify-content: space-between;
}

.priceHolder {
  line-height: $xlarge-space;
}

.buttonAddRemove {
  background-color: $blue-yonder;
  padding: $base-space $small-space;
  border: 1px solid $manatee;
  border-radius: $default-border-radius;
  font-size: $med-font;
  font-weight: $bold-font-weight;
  display: none;
  outline: none;
  box-shadow: $default-box-shadow;
  &:active {
    box-shadow: $active-box-shadow;
    transform: translateY(3px);
  }
}