@import "./../style/style-variables";

.card-container {
  padding: $space-lg $space-xxl;

  .card-header {
    padding: $space-sm;
  }

  .card-image {
    img {
      max-width: 100%;
    }
  }

  .card-footer {
    padding: $space-md $space-md $space-lg;
    border: 1px solid $color-bluestone-20;
    margin: 0;
    font-size: $font-xl;
    font-weight: $font-weight-bold;

    .card-price-holder {
      display: inline-block;
    }

    .card-button-holder {
      float: right;

      .button-add-remove {
        background-color: $color-alertstone;
        padding: $space-base $space-sm;
        border: 1px solid $color-bluestone-50;
        border-radius: $border-radius-default;
        text-align: center;
        font-size: $font-md;
      }
    }
  }
}

.button-add-remove {
  display: none;
  outline: none;
  box-shadow: $box-shadow-default;
}

.button-add-remove:active {
  box-shadow: $box-shadow-active;
  transform: translateY(3px);
}

.card-container:hover .button-add-remove {
  display: inline-block;
}
