// Spacing
$base-space: 0.250rem; // 4px
$small-space: 0.750rem; // 12px
$med-space: 1.000rem; // 16px
$large-space: 1.500rem; // 24px
$xlarge-space: 2.25rem; // 36px
$xxlarge-space: 2.500rem; // 40px

//  Font Size
$root-font: 16px;
$med-font: $root-font;
$large-font: 20px;

// Font Weight
$bold-font-weight: 700;

// Colour
$anti-flash-white: #f0f2f5;
$light-silver: #d6d9da;
$manatee: #999fa3;
$blue-yonder: #507b9a;
$auro-metal-saurus: #697684;

//  Border Radius
$default-border-radius: 12px;

// Box shadow
$default-box-shadow: 0 5px $manatee;
$active-box-shadow: 0 3px $auro-metal-saurus;
